<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,700,900&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="{{ url_for('static', filename='css/icomoon_style.css') }}">

    <link rel="stylesheet" href="{{ url_for('static', filename='css/owl.carousel.min.css') }}">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    
    <!-- Style -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

    <title>Project 3</title>
  </head>
  <body>
  

    <div class="content">
      
      <div class="container">

        
        <div class="row justify-content-center">
          <div class="col-md-12">
            
            <div class="row align-items-center">
              <div class="col-lg-7 mb-5 mb-lg-0">

                <h2 class="mb-5">Heart Failure <br> Prediction.</h2>
                <!-- <button class="sim-btn hvr-bounce-to-top" onclick="FormLyft()">Lyft</button>
                <button class="sim-btn hvr-bounce-to-top" onclick="FormUber()">Uber</button> -->
                <div class="col-5 button-group filter-button-group text-center">
                  <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist"
                    aria-orientation="vertical">
                    <a class="nav-link active" id="v-pills-home-tab" data-toggle="pill" href="#v-pills-home"
                      role="tab" aria-controls="v-pills-home" aria-selected="true">
                      <img src="https://static.thenounproject.com/png/1503830-200.png"
                        alt="random_forest_classifier_icon" width="20px"> Random Forest Classifier </a>
                  </div>
                </div>
                <br>
                <!-- Logistic Regression Prediction -->
                <div class="tab-content" id="v-pills-tabContent">
                  <div class="tab-pane fade show active" id="v-pills-home" role="tabpanel"
                    aria-labelledby="v-pills-home-tab">
                    <form action="{{ url_for('predict_1')}}" class="border-right pr-5 mb-5" method="post" id="contactForm_lyft">
                        <div class="col-md-7 form-group">
                          <label for="umur">Umur</label>
                          <input type="number" name="umur" class="form-control" id="umur"
                            required="required">
                        </div>
                    
                      
                        <div class="col-md-7 form-group">
                          <label for="serum_keratin">Serum Keratin</label>
                          <input type="number" name="serum_keratin" class="form-control" id="serum_keratin"
                            placeholder="mg/dL"
                            required="required">
                        </div>
                      
                      <button type="submit" class="btn btn-primary rounded-0 py-2 px-4">Predict</button>
                    </form>
                    <p class="message">{{ prediction_text_1 }}</p>
                  </div>
                </div>
              </div>
              <div class="col-lg-4 ml-auto">
                <h3 class="mb-4">About Dataset  .</h3>
                <p>Cardiovascular diseases (CVDs) are the number 1 cause of death globally, taking an estimated 17.9 million lives each year, which accounts for 31% of all deaths worlwide.
                  Heart failure is a common event caused by CVDs and this dataset contains 12 features that can be used to predict mortality by heart failure.
                  
                  <br>Most cardiovascular diseases can be prevented by addressing behavioural risk factors such as tobacco use, unhealthy diet and obesity, physical inactivity and harmful use of alcohol using population-wide strategies.
                  
                  People with cardiovascular disease or who are at high cardiovascular risk (due to the presence of one or more risk factors such as hypertension, diabetes, hyperlipidaemia or already established disease) need early detection and management wherein a machine learning model can be of great help.</p>
                <p><a href="https://www.kaggle.com/datasets/jsphyg/weather-dataset-rattle-package" target="blank">Go to Site</a></p>
                  <br>
                <h3 class="mb-4">Nama Kelompok:</h3>
                <p>Tyra Nabilla - PYTN-KS04-004
                  <br>Khairul Umam - PYTN-KS04-006 </p>
              </div>
            </div>
          </div>  
        </div>
      </div>
    </div>
    
    

    <script src="{{ url_for('static', filename='js/jquery-3.3.1.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/popper.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/jquery.validate.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/main.js') }}"></script>
  </body>
</html>