<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,700,900&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="{{ url_for('static', filename='css/icomoon_style.css') }}">

    <link rel="stylesheet" href="{{ url_for('static', filename='css/owl.carousel.min.css') }}">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    
    <!-- Style -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

    <title>Project 1 -  Linear Regression</title>
  </head>
  <body onload="sembunyikanForm()">
  

  <div class="content">
    
    <div class="container">

      
      <div class="row justify-content-center">
        <div class="col-md-12">
          
          <div class="row align-items-center">
            <div class="col-lg-7 mb-5 mb-lg-0">

              <h2 class="mb-5">Uber vs Lyft <br> Price Prediction.</h2>
              <!-- Lyft Prediction -->
              <form action="{{ url_for('predict_1')}}" class="border-right pr-5 mb-5" method="post" id="contactForm" name="contactForm">
                <div class="row">
                  <div class="col-md-7 form-group">
                    <label for="kind">Service Type</label>
										<select class="form-control" id="kind" name="kind" required="required">
											<option>Choose a Service Type :</option>
											<option value="0">Lyft lux</option>
											<option value="1">Lyft Black XL</option>
											<option value="2">Lyft Black XL</option>
											<option value="3">Lyft</option>
											<option value="4">Lyft XL</option>
                      <option value="5">Lyft Shared</option>
										</select>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-7 form-group">
                    <label for="weather">Weather</label>
										<select class="form-control" id="weather" name="weather" required="required">
											<option>Choose a Weather Condition :</option>
											<option value="0">Clear Day</option>
											<option value="1">Clear Night</option>
											<option value="2">Cloudy</option>
											<option value="3">Foggy</option>
											<option value="4">Partly Cloudy Day</option>
											<option value="5">Partly Cloudy Night</option>
											<option value="6">Rain</option>
										</select>
                  </div>
                </div>

                <div class="row">
                  <div class="col-md-7 form-group">
                    <label for="distance">Distance</label>
										<input type="number" name="distance" class="form-control" id="distance"
											placeholder="Insert Distance Range" min="0" max="256"
											required="required">
                  </div>
                </div>

                <div class="row">
                  <div class="col-md-8 form-group">
                    <label for="surge_multiplier">Surge Multiplier Pricing</label>
										<select class="form-control" id="surge_multiplier" name="surge_multiplier"
											required="required">
											<option>Choose a Surge Multiplier Pricing :</option>
											<option value="1.00">$1.00</option>
											<option value="1.25">$1.25</option>
											<option value="1.50">$1.50</option>
											<option value="1.75">$1.75</option>
											<option value="2.00">$2.00</option>
											<option value="2.50">$2.50</option>
											<option value="3.00">$3.00</option>
										</select>
                  </div>
                </div>
            
                {{ prediction_text_1 }}

                <div class="row">
                  <div class="col-md-12">
                    <div id="success"></div>
                    <button class="btn btn-primary rounded-0 py-2 px-4" type="submit">Prediksi</button>
                    <span class="submitting"></span>
                  </div>
                </div>
              </form>

              <!-- Uber Prediction -->
              <form action="{{ url_for('predict_2')}}" class="border-right pr-5 mb-5" method="post" id="contactForm_hide" name="contactForm">
                <div class="row">
                  <div class="col-md-7 form-group">
                    <label for="kind">Service Type</label>
										<select class="form-control" id="kind" name="kind" required="required">
											<option>Choose a Service Type :</option>
                      <option value="0">Uber Lux</option>
											<option value="1">Uber SUV</option>
											<option value="2">Uber Taxi</option>
											<option value="3">Uber Pool</option>
											<option value="4">Uber X</option>
											<option value="5">Uber XL</option>
											<option value="6">Uber WAV</option>
										</select>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-7 form-group">
                    <label for="weather">Weather</label>
										<select class="form-control" id="weather" name="weather" required="required">
											<option>Choose a Weather Condition :</option>
                      <option value="0">Clear Day</option>
											<option value="1">Clear Night</option>
											<option value="2">Cloudy</option>
											<option value="3">Foggy</option>
											<option value="4">Partly Cloudy Day</option>
											<option value="5">Partly Cloudy Night</option>
											<option value="6">Rain</option>
										</select>
                  </div>
                </div>

                <div class="row">
                  <div class="col-md-6 form-group">
                    <label for="distance">Distance</label>
										<input type="number" name="distance" class="form-control" id="distance"
											placeholder="Insert Distance Range" min="0" max="256"
											required="required">
                  </div>
                </div>

                <div class="row">
                  <div class="col-md-8 form-group">
                    <label for="surge_multiplier">Surge Multiplier Pricing</label>
										<select class="form-control" id="surge_multiplier" name="surge_multiplier"
											required="required">
											<option>Choose a Surge Multiplier Pricing :</option>
											<option value="1.00">$1.00</option>
										</select>
                  </div>
                </div>
            
                {{ prediction_text_2 }}

                <div class="row">
                  <div class="col-md-12">
                    <input type="submit" value="Uber Price Prediction" class="btn btn-primary rounded-0 py-2 px-4">
                    <span class="submitting"></span>
                  </div>
                </div>
              </form>

            </div>
            <div class="col-lg-4 ml-auto">
              <h3 class="mb-4">About Dataset  .</h3>
              <p>This is a very beginner-friendly dataset. It does contain a lot of NA values. It is a good dataset if you want to use a Linear Regression Model to see the pattern between different predectors such as hour and price. 
                <br>A really amazing part of this dataset is that I have included the corresponding weather data for that hour with a short summary of the weather. Other important factors are temperature, wind, and sunset.</p>
              <p><a href="https://www.kaggle.com/datasets/brllrb/uber-and-lyft-dataset-boston-ma/discussion" target="blank">Go to Site</a></p>
                <br>
              <h3 class="mb-4">Nama Kelompok:</h3>
              <p>Tyra Nabilla - PYTN-KS04-004
                <br>Khairul Umam - PYTN-KS04-006 </p>
            </div>
          </div>
        </div>  
        </div>
      </div>
  </div>
    
    

    <script src="{{ url_for('static', filename='js/jquery-3.3.1.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/popper.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/jquery.validate.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/main.js') }}"></script>
  </body>
</html>